body{ background-color: #f8f9e1; }
.container{
	position: relative;
	font-family: "Bangers";
	font-size: 18px;
	color: #3A8F8E;
	/*color: #65A8A6;*/
	text-shadow: 3px 3px 1px rgba(0,0,0, .13);
}
.row-box{
	display: block;
	width: 296px;
	margin: 0px auto;
	padding: 0px;
	box-sizing: border-box;
}
	.row-box.bordered{
		border: 1px solid;
		border-color: #3A8F8E;
		border-color: #65A8A6;
		border-radius: 8px;
	}
	.row-box.shadow{ box-shadow: 5px 5px 1px rgba(0,0,0, .13); }
	.row-box.centered{ text-align: center; }

.row-box > .column-box{
	display: inline-block;
	margin: 8px 3px 3px 3px;
	vertical-align: middle;
}

.column-box > .cell{
	display: block;
	min-width: 50px;
	line-height: 40px;
	font-size: 26px;
	text-align: center;
}
	.cell.small{
		line-height: 20px;
		font-size: 18px;
	}
	.cell.smaller{
		line-height: 20px;
		font-size: 18px;
	}
	.cell.big-txt{ font-size: 32px; }
	.cell.small-txt{ font-size: 18px; }

/*	Fixed width 	 */
.column-box.stage-name{
	min-width: 121px;
}

.stage .column-box { vertical-align: middle; }
.stage .row-box { cursor: pointer; }
.stage .row-box:hover {
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
    transform-origin: center top;
    transition-duration: .8s;
}






/**/